%h2= "#{pronoun_or_first_name(@person)} Public Profile"
= render 'form'
- if can?(:manage, @person)
  = [ link_to('Show', @person), link_to('Back', person_public_profile_path(@person, @public_profile)) ].join(' | ').html_safe
