- semantic_form_for @person do |form|

  - if can? :manage, Group
    = form.inputs :name => "Groups" do
      = form.input :groups, :as => :check_boxes, :collection => @groups, :label => ''
  
  = form.buttons do
    = form.commit_button