%h2= "#{pronoun_or_first_name(@person)} Facilities Profile"
= render 'form'
- if can?(:manage, @person)
  = [ link_to('Show', @person), link_to('Back', person_facilities_profile_path(@person, @facilities_profile)) ].join(' | ').html_safe
