%h2= "#{pronoun_or_first_name(@person)} Emergency Contact"
= render 'form'
- if can?(:manage, @person)
  = [ link_to('Show', @person), link_to('Back', person_emergency_profile_path(@person, @emergency_profile)) ].join(' | ').html_safe
