%h2= "Editing emergency profile for #{@person.full_name}"
= render 'form'
- if can?(:manage, @person)
  = [ link_to('Show', @person), link_to('Back', person_emergency_profile_path(@person, @emergency_profile)) ].join(' | ').html_safe
