- content_for :title do
  %h1= "#{link_to((pronoun_or_first_name(@person) + ' Information'), person_path(@person))} &raquo; #{pronoun_or_first_name(@person)} Emergency Contact".html_safe
= render :partial => 'shared/person', :locals => { :person => @person }